@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --color-accent: #45cf1b;
  --color-accent-pressed: #359916;
  --color-accent-dark: #2c9933;
  --color-accent-darkest: #217226;
  --color-card: #ffffff;
  --header-height: 85px;
  --workzone-width: 75%;
}

.app {
  width: 100%;
  min-height: 100vh;

  box-sizing: border-box;
  background-color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  cursor: pointer;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

h1, h2, h3, p, a, button, input, textarea, ol, ul {
  font-weight: 400;
  margin: 0;
  text-decoration: none;
  font-family: 'Montserrat';
}

ol, ul {
  li {
    padding: 5px 0px;

    &::marker {
      font-weight: 500;
    }
  }
}

blockquote {
  width: 100%;
  box-sizing: border-box;

  background-color: #e8fde6;
  margin: 0;
  padding: 10px 10px 10px 20px;
  border-left: 3px solid rgb(140, 161, 138);
}

table {
  overflow-x: scroll;
}

table, th, td {
  width: auto;
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
}

input[type=file]::file-selector-button {
  border: 2px solid black;
  color: black;
  padding: 5px 10px;
  border-radius: 20px;
  background-color: white;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

input[type=file]::file-selector-button:hover {
  background-color: black;
  color: white;
}

@media screen and (1000px < width <= 1540px) {
  :root {
    --workzone-width: 85%;
  }
}

@media screen and (768px < width <= 1000px) {
  :root {
    --workzone-width: 95%;
  }
}

@media screen and (480px < width <= 768px) {
  :root {
    --workzone-width: 100%;
  }
}

@media screen and (width <= 480px) {
  :root {
    --workzone-width: 100%;
  }
}