.container {
    width: 100%;
    max-height: 28.5rem;
    background-color: var(--color-card);
    padding: 20px;
    border-radius: 20px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    gap: 15px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.432);

    -webkit-user-select: none;
    user-select: none;
    overflow: hidden;

    .divider {
        width: 100%;
        border-top: 2px solid #cecece;
        box-sizing: border-box;
    }

    h1 {
        font-size: 25px;
        font-weight: 500;
    }

    p {
        font-size: 18px;
        box-sizing: border-box;
    }

    .like_btn {
        width: 35px;
        height: 35px;
        transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
        cursor: pointer;

        &:hover {
            filter: brightness(70%) contrast(120%);
        }
    }

    .btns {
        @extend .like_btn;
        padding: 5px;

        &:hover {
            background-color: #ffffff;
            border-radius: 10px;
            filter: brightness(70%) contrast(120%);
        }
    }

    .lin_container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 7px;
        width: auto;
        flex-wrap: wrap;
        box-sizing: border-box;

        .likes {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 7px;
            border: 1px solid #cecece;
            border-radius: 20px;
            padding: 5px 12px;
            box-sizing: border-box;
            cursor: pointer;
            transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);

            p {
                font-weight: 500;
                transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
            }

            &:hover {
                background-color: black;
                border: 1px solid black;

                p {
                    color: white;
                }

                img {
                    filter: invert(1);
                }
            }
        }

        .likes_liked {
            @extend .likes;

            border: 1px solid black;
            background-color: black;

            p {
                color: white;
            }

            img {
                filter: invert(1);
            }

            &:hover {
                background-color: white;
                border: 1px solid #cecece;

                p {
                    color: black;
                }
            }
        }

        .comments {
            @extend .likes;

            &:hover {
                background-color: white;
                border: 1px solid #000000;

                p {
                    color: black;
                }

                img {
                    filter: none;
                }
            }
        }
    }

    .user_info {
        @extend .lin_container;

        transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
        cursor: pointer;

        &:hover {
            transform: scale(0.95);
        }
    }

    .top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        gap: 10px;
        box-sizing: border-box;

        h2 {
            font-size: 18px;
        }

        .user_icon {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            object-fit: cover;
            box-sizing: border-box;
        }

        .private_icon {
            padding-left: 5px;
            width: 25px;
            height: 25px;
        }
    }

    .bottom {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 7px;
        box-sizing: border-box;
    }
}

.card_wrapper {
    width: 50%;
    box-sizing: border-box;
}

.card_main_content {
    @extend .container;
    box-shadow: none;
    padding: unset;
    border-radius: unset;

    cursor: pointer;

    .post_title {
        color: var(--color-accent-dark);
        font-weight: 700;
    }
}


@media screen and (width <= 1200px) {
    .card_wrapper {
        width: 100%;
    }
}

@media screen and (480px < width <= 768px) {
    .container {

        h1 {
            font-size: 22px;
        }

        .like_btn {
            width: 30px;
            height: 30px;
        }
    }
}

@media screen and (width <= 480px) {
    .container {
        gap: 12px;

        h1 {
            font-size: 18px;
        }

        p {
            font-size: 16px;
        }

        .like_btn {
            width: 25px;
            height: 25px;
        }

        .card_main_content {
            gap: 12px;
        }

        .top {
            .user_icon {
                width: 30px;
                height: 30px;
            }

            .user_info {
                p {
                    font-size: 14px;
                }
            }
        }
    }
}