.header_style {
    width: var(--workzone-width);
    height: var(--header-height);

    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

    background-color: rgba(255, 255, 255, 0.95);

    .container {
        width: var(--workzone-width);
        height: var(--header-height);
    
        position: fixed;
        top: 0;
    
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    
        padding: 20px 0;
        box-sizing: border-box;

        background-color: rgba(255, 255, 255, 0.95);
        z-index: 10;
    
        h1 {
            color: var(--color-accent);
            font-weight: 700;
        }

        .menu {
            display: flex;
            flex-direction: row;
            gap: 10px;
            align-items: center;
            justify-content: center;
        }
        
        .menu_item{
            display: flex;
            flex-direction: row;
            gap: 5px;
            align-items: center;
            justify-content: center;
            align-content: center;
            cursor: pointer;

            border: 2px solid black;
            border-radius: 20px;
            padding: 7px 15px;
            background-color: white;

            width: 160px;

            transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);

            img {
                width: 25px;
                height: 25px;
                transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
                cursor: pointer;
            }

            p {
                font-size: 20px;
                transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
                color: black;
            }

            &:hover {
                background-color: black;

                p {
                    color: white;
                }

                img {
                    filter: invert(1);
                }
            }
        }

        .menu_item_link {
            a, button {
                @extend .menu_item
            }
        }

        .user {
            box-sizing: border-box;

            .user_icon {
                object-fit: cover;  
                border-radius: 50%;
                box-sizing: border-box;
            }

            a {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 10px;
                border: 2px solid white;
                border-radius: 20px;
                padding: 7px 15px;
                transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
                
                p {
                    font-size: 20px;
                    outline: none;
                    color: black;
                }

                img {
                    width: 25px;
                    height: 25px;
                    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
                    cursor: pointer;
                }

                &:hover {
                    border: 2px solid black;
                }
            }
        } 

        .mobile_menu_btn {
            width: 25px;
            height: 25px;
            cursor: pointer;
            transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);

            &:hover {
                transform: rotate(45deg);
            }
        }
    }
}

@media screen and (1200px < width <= 1540px) {
    .header_style {
        .container {
            padding: 20px;
        }
    }
}

@media screen and (1000px < width <= 1200px) {
    .header_style {
        .container {
            padding: 20px;
        }
    }
}

@media screen and (768px < width <= 1000px) {
    .header_style {
        .container {
            padding: 20px;
        }
    }
}

@media screen and (480px < width <= 768px) {
    .header_style {
        .container {
            padding: 20px;
        }
    }
}

@media screen and (width <= 480px) {
    .header_style {
        .container {
            padding: 20px;
        }
    }
}